
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
                <!-- Login Form s-->
                <div class="login-box">
                    <h4 class="login-title">New Customer</h4>
                    <p><span class="font-weight-bold">Register</span></p>
                    <p>
                        By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the
                        orders
                        you have previously made.
                    </p>
                    <a href="#" class="btn btn-outlined   mr-3">Continue</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form action="https://demo.hasthemes.com/pustok-preview-v1/pustok/">
                    <div class="login-form">
                        <h4 class="login-title">Returning Customer</h4>
                        <p><span class="font-weight-bold">I am a returning customer</span></p>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label for="email">Enter you email address here...</label>
                                <input class="mb-0 form-control" type="email" id="email" placeholder="Enter you email address here...">
                            </div>
                            <div class="col-12 mb--20">
                                <label for="password">Password</label>
                                <input class="mb-0 form-control" type="password" id="password">
                                <a href="#" class="forget-pass">Forgotten Password</a>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="btn btn-outlined">Login</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
  </div>
<!--=================================
  Brands Slider
===================================== -->
<section class="section-margin">
    <h2 class="sr-only">Brand Slider</h2>
    <div class="container">
        <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
            <div class="single-slide">
                <img src="~/Content/image/others/brand-1.jpg" alt="">
            </div>
            <div class="single-slide">
                <img src="~/Content/image/others/brand-2.jpg" alt="">
            </div>
            <div class="single-slide">
                <img src="~/Content/image/others/brand-3.jpg" alt="">
            </div>
            <div class="single-slide">
                <img src="~/Content/image/others/brand-4.jpg" alt="">
            </div>
            <div class="single-slide">
                <img src="~/Content/image/others/brand-5.jpg" alt="">
            </div>
            <div class="single-slide">
                <img src="~/Content/image/others/brand-6.jpg" alt="">
            </div>
            <div class="single-slide">
                <img src="~/Content/image/others/brand-1.jpg" alt="">
            </div>
            <div class="single-slide">
                <img src="~/Content/image/others/brand-2.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!--=================================
    Footer Area
===================================== -->


